html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    color: yellow;
}

.bg-gradient-start {
    background: linear-gradient(to right, #f1b721 0%, #fde89b 100%);
}

.bg-gradient-end {
    background: linear-gradient(to right, #fde89b 0%, #f1b721 100%);
}

.bg-gradient-center {
    background: radial-gradient(circle at center, #fde89b, #f1b721);
}

.text-gradient-center {
    background: radial-gradient(circle at center, #fde89b, #f1b721);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.text-gradient-end {
    background: linear-gradient(to right, #fde89b 0%, #f1b721 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.text-gradient-start {
    background: linear-gradient(to right, #f1b721 0%, #fde89b 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.content * {
    text-transform: uppercase;
}

.content .nav {
    position: relative;
    width: 100%;
    height: 100%;
}

.content .title {
    transform-origin: (0, 0);
    font-size: 38px;
    position: absolute;
    font-weight: 800;
    opacity: 0.4;
}

.content .title.left {
    transform: rotate(270deg);
    top: 340px;
    left: -245px;
}

.content .title.right {
    transform: rotate(90deg);
    top: 340px;
    right: -245px;
}

.content .nav_content {
    margin: auto;
}

.content .nav_content_title {
    justify-content: center;
    align-items: center;
}

.content .nav_content_title .text {
    font-size: 124px;
    font-weight: 900;
    line-height: 154px;
}

.content .hr {
    margin: auto;
    width: 62%;
    height: 6px;
    background-color: #f1b721;
}

.content .contain {
    width: 80%;
    margin: auto;
}

.contain .label .lebel_img {
    display: flex;
    justify-content: end;
}

.contain .label .lebel_img img {
    width: 84px;
}

.contain .label .lebel_text {
    font-size: 30px;
    display: flex;
    align-items: center;
}

.contain .phone img {
    width: 600px;
}

@media screen and (max-width: 1424px) {
    .title {
        display: none;
    }
    .col-xxl-6 {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1266px) {
    .contain .phone img {
        width: 480px;
    }
}

@media screen and (max-width: 990px) {
    .image {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .image {
        display: none;
    }
    .contain .phone img {
        width: 100%;
    }
}

@media screen and (max-width: 765px) {
    .contain .label .lebel_text {
        font-size: 19px;
    }
    .contain .label .lebel_img img {
        width: 56px;
    }
}

@media screen and (max-width: 666px) {
    .content .nav_content_title .text {
        font-size: 72px;
    }
}