html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    color: yellow;
}

.gradient-start {
    background: linear-gradient(to right, #f1b721 0%, #fde89b 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.gradient-end {
    background: linear-gradient(to right, #fde89b 0%, #f1b721 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.gradient-center {
    background: radial-gradient(circle at center, #fde89b, #f1b721);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.heading {
    padding-top: 60px;
}

.heading .logo {
    text-align: center;
}

.heading .title_heading {
    text-transform: uppercase;
    padding-left: 0;
}

.heading .title {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.heading .title_heading span:first-child {
    line-height: 113px;
    width: fit-content;
    font-size: 120px;
    font-weight: 700;
}

.heading .title_heading span:last-child {
    line-height: 102px;
    width: fit-content;
    font-size: 94px;
    font-weight: 700;
}

.xs-title {
    background: radial-gradient(circle at center, #fde89b, #f1b721);
    text-align: center;
    width: 70%;
    font-size: 47px;
    font-weight: 700;
    border-radius: 14px;
    padding: 1px 18px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}

.main.mt {
    margin-top: 30px;
}

.main .label {
    text-transform: uppercase;
    color: black;
    background: radial-gradient(circle at center, #fde89b, #f1b721);
}

.main .label .title {
    text-align: center;
    padding: 2px 14px;
    font-size: 38px;
    font-weight: 800;
}

.main .tabling {
    text-align: center;
    text-align: -webkit-center;
}

.main .table_title {
    width: 97%;
}

.main .table_title .title_text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.main .table_body table {
    width: 97%;
}

.main .table_body table,
th,
td {
    border: 4px solid #fde89b;
    border-collapse: collapse;
}

.main .table_body tr:not(.main .table_body tr:first-child) {
    text-align: end !important;
}

.main .table_body td {
    text-align: center;
    font-weight: 500;
    padding: 4px 6px;
    font-size: 30px;
}

.main .table_body .text {
    background: linear-gradient(190deg, #fde89b 0%, #f1b721 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.main .footer-text {
    width: fit-content;
    margin-left: 12px;
    font-size: 3vw;
}

.main .chart img {
    width: 100%;
}

@media screen and (max-width: 1400px) {
    .logo {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .main .footer-text {
        font-size: 5vw;
    }
}

@media screen and (max-width: 768px) {
    .title_text {
        font-size: 4vw !important;
    }
    .main .table_body td {
        font-size: 2.9vw !important;
    }
}