html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    color: yellow;
}

.mt-6 {
    margin-top: 5.5rem !important;
}

.bg-gradient-start {
    background: linear-gradient(to right, #f1b721 0%, #fde89b 100%);
}

.bg-gradient-end {
    background: linear-gradient(to right, #fde89b 0%, #f1b721 100%);
}

.bg-gradient-center {
    background: radial-gradient(circle at center, #fde89b, #f1b721);
}

.text-gradient-center {
    background: radial-gradient(circle at center, #fde89b, #f1b721);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.text-gradient-end {
    background: linear-gradient(to right, #fde89b 0%, #f1b721 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.text-gradient-start {
    background: linear-gradient(to right, #f1b721 0%, #fde89b 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.heading {
    padding-top: 60px;
}

.heading .logo {
    text-align: center;
}

.heading .title_heading {
    text-transform: uppercase;
    padding-left: 0;
}

.heading .title {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.heading .title_heading span:first-child {
    line-height: 113px;
    width: fit-content;
    font-size: 120px;
    font-weight: 700;
}

.heading .title_heading span:last-child {
    line-height: 102px;
    width: fit-content;
    font-size: 94px;
    font-weight: 700;
}

.xs-title {
    background: radial-gradient(circle at center, #fde89b, #f1b721);
    text-align: center;
    width: 53%;
    font-size: 44px;
    font-weight: 700;
    border-radius: 14px;
    padding: 1px 18px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}

.main.mt {
    margin-top: 30px;
}

.main .contain {
    width: 92%;
    margin: auto;
}

.main .nav_ {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .frame {
    text-transform: uppercase;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: radial-gradient(circle at center, #fde89b, #f1b721);
}

.main .frame.ml {
    margin-left: 20px;
}

.main .frame .frame_text {
    padding: 8px 29px;
    font-size: 36px;
    font-weight: 700;
}

.main .icon {
    font-size: 48px;
    margin-left: 20px;
    font-weight: 800;
    color: #fde89b;
}

.main .carder {
    text-align: center;
    padding: 0 16px;
}

.main .carder_title {
    color: #000;
    background: radial-gradient(circle at center, #fde89b, #f1b721);
    font-size: 30px;
    font-weight: 800;
    padding: 4px 18px;
    text-transform: uppercase;
}

.main .carder_content {
    border-left: solid #ffd951 3px;
    height: 222px;
}

.main .carder_content .carder_content_icon {
    padding: 12px 0;
}

.main .carder_content .text {
    font-size: 24px;
}

.main .carder_content .text span {
    text-transform: uppercase;
    font-size: 28px;
}

@media screen and (max-width: 1400px) {
    .logo {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .nav_ {
        flex-direction: column;
    }
    .frame_text {
        font-size: 32px !important;
    }
}

@media screen and (max-width: 756px) {
    .xs-title {
        width: 90%;
        font-size: 10vw;
    }
    .heading .title span {
        font-size: 12vw !important;
    }
    .mt-md-6 {
        margin-top: 5.5rem !important;
    }
}

@media screen and (max-width: 756px) {
    .mt-md-6 {
        margin-top: 5.5rem !important;
    }
}

@media screen and (max-width: 576px) {}